@import "tailwindcss";

@custom-variant hover (&:hover);

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input,
select {
  @apply text-gray-500 placeholder-gray-500;
}

input:focus,
select:focus {
  outline: none;
}
